<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div id="header" class="header">
    <div class="col-12 bg-white sub-nav border-top">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-2">
          <h4>SHL Agreement</h4>
        </div>

        <button
          type="button"
          class="btn btn-primary me-4"
          style="font-size: 14px"
          (click)="navigateToCreateAgreement()"
        >
          <i class="bi bi-plus-lg me-1"></i>Create
        </button>
      </div>
    </div>
  </div>

  <main id="main" class="main">
    <div class="bg-white p-3 rounded">
      <div class="d-flex justify-content-start align-items-center mb-3">
        <div>
          <button
            class="btn btn-transparant border-secondary bg-white dropdown-toggle me-2 rounded-pill"
            style="font-size: 14px"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-filter me-1"></i>Filter
          </button>
          <div class="dropdown-menu ps-2">
            <form (submit)="onSubmit($event)">
              <div style="font-size: 15px">
                <input type="checkbox" name="agreement_number" id="agreement_number" />
                <label class="ms-2" value="agreement_number" for="agreement_number">SHL Agreement Number"</label>
                <br />
                <input type="checkbox" name="agreement_number_anakperusahaan" id="agreement_number_anakperusahaan" />
                <label class="ms-2" value="" for="agreement_number_anakperusahaan"
                  >Agreement Anak Perusahaan</label
                >
                <br />
                <input type="checkbox" name="tanggal_dibuat" id="tanggal_dibuat" />
                <label class="ms-2" value="" for="tanggal_dibuat"
                  >Tanggal Dibuat</label
                >
                <br />
                <input type="checkbox" name="deskripsi" id="deskripsi" />
                <label class="ms-2" value="" for="deskripsi">Deskripsi</label>
                <br />
                <input type="checkbox" name="jumlah_amandement" id="jumlah_amandement" />
                <label class="ms-2" value="" for="jumlah_amandement">Jumlah Amandement</label>
                <br />
                <input type="checkbox" name="amandement_agreement_number" id="amandement_agreement_number" />
                <label class="ms-2" value="" for="amandement_agreement_number"
                  >Amandement Agreement Number</label
                >
                <br />
                <input type="checkbox" name="created_by" id="created_by" />
                <label class="ms-2" value="" for="created_by"
                  >Created By</label
                >
                <br />
                <input type="checkbox" name="status" id="status" />
                <label class="ms-2" value="" for="Change 1 Day"
                  >Status</label
                >
                <br />
                <input type="checkbox" name="approver" id="approver" />
                <label class="ms-2" value="" for="Change 1 Day"
                  >Approver</label
                >
              </div>
              <button type="submit" class="btn btn-primary btn-sm mt-2">
                Save Change
              </button>
            </form>
          </div>
        </div>

        <div class="search search-bar" [style.display]="isActiveNonPP ? 'block' : 'none'">
          <form class="search-form" method="POST" action="#">
            <input
              type="text"
              name="query"
              id="searchNonPenerusan"
              placeholder="Search"
              title="Enter search keyword"
              (input)="getValueInput($event)"
            />
            <button type="submit" title="Search" (click)="findData('nonPenerusan')">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>

        <div class="search search-bar" [style.display]="isActivePP ? 'block' : 'none'">
          <form class="search-form" method="POST" action="#">
            <input
              type="text"
              name="query"
              id="searchPenerusan"
              placeholder="Search"
              title="Enter search keyword"
              (input)="getValueInput($event)"
            />
            <button type="submit" title="Search" (click)="findData('penerusan')">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="d-flex-justify-content-start-align-items-center">
        <a class="sub-link me-3" [style.border-bottom]="isActiveNonPP ? '3px solid #2E75F0' : ''" [style.color]="isActiveNonPP ? '#2E75F0': '' " tabindex="0" (click)="nonPenerusanPinjaman()">Non Penerusan Pinjaman</a>
        <a class="sub-link" [style.border-bottom]="isActivePP ? '3px solid #2E75F0' : ''" [style.color]="isActivePP ? '#2E75F0': '' " tabindex="0" (click)="penerusanPinjaman()">Penerusan Pinjaman</a>
      </div>

      <div class="table-shlAgreement" id="table-nonPenerusanPinjaman"></div>
      <div class="table-shlAgreementPenerusanPinjaman" id="table-penerusanPinjaman"></div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
