<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div id="header" class="header">
    <div class="col-12 bg-white sub-nav border-top">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-2">
          <h4>Create New Schedule</h4>
        </div>
      </div>
    </div>
  </div>

  <main id="main" class="main">
    <mat-stepper [linear]="false" #stepper>

      <!-- STEP 1 -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Choose Agreement</ng-template>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4"
                >Nama Anak Perusahaan</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>
            <ng-select
              [items]="anakPerusahaan"
              class="form-control"
              bindLabel="name"
              id="anakPerusahaan"
              placeholder="Pilih Nama Anak Perusahaan"
              bindValue="name"
              formControlName="selectedAP"
              [ngClass]="{
                'is-invalid':
                  submitted && firstFormGroup.controls.selectedAP.errors
              }"
              required
            >
            </ng-select>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4"
                >Pilih Nomor SHL Agreement</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>
            <ng-select
              [items]="shlAgreementList"
              class="form-control"
              bindLabel="no_shl_agreement"
              placeholder="Pilih Nomor SHL Agreement"
              bindValue="no_shl_agreement"
              formControlName="noSHLAgreementList"
              [ngClass]="{
                'is-invalid':
                  submitted && firstFormGroup.controls.noSHLAgreementList.errors
              }"
              required
              (change)="onChange($event)"
            >
            </ng-select>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4"
                >Nomor SHL Agreement Anak Perusahaan</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>
            <input
              type="text"
              class="form-control"
              [disabled]="true"
              [value]="
                selectedNoSHLAnakPerusahaan ? selectedNoSHLAnakPerusahaan : null
              "
            />
            <!-- <ng-select
              [items]="noSHLAnakPerusahaan"
              class="form-control"
              bindLabel="name"
              id="noSHLAnakPerusahaan"
              placeholder="Pilih Nama Anak Perusahaan"
              bindValue="name"
              formControlName="noSHLAnakPerusahaan"
              [ngClass]="{
                'is-invalid':
                  submitted && firstFormGroup.controls.noSHLAnakPerusahaan.errors
              }"
              required
            >
            </ng-select> -->
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4">Nama Proyek</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>
            <ng-select
              [items]="proyekList"
              class="form-control"
              bindLabel="name"
              id="proyekList"
              placeholder="Pilih Nama Proyek"
              bindValue="name"
              formControlName="selectedProyek"
              [ngClass]="{
                'is-invalid':
                  submitted && firstFormGroup.controls.selectedProyek.errors
              }"
              (change)="namaProyekChange($event)"
              required
            >
            </ng-select>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4">Pilih Withdrawal</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>
            <ng-select
              [items]="proyekList"
              class="form-control"
              bindLabel="name"
              id="proyekList"
              placeholder="Pilih Withdrawal"
              bindValue="name"
              formControlName="selectedProyek"
              [ngClass]="{
                'is-invalid':
                  submitted && firstFormGroup.controls.selectedProyek.errors
              }"
              (change)="namaProyekChange($event)"
              required
            >
            </ng-select>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4">Grace Period</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>

            <div
              class="d-flex justify-content-between align-items-center gap-1"
            >
              <div class="d-flex flex-column">
                <span class="label-gracePeriod">Start Date</span>
                <mat-form-field class="input-date">
                  <mat-label class="label-datepicker">Select Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    autocomplete="off"
                    style="color: black"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker
                    #startDatePicker
                    color="primary"
                    disabled="false"
                  ></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="d-flex flex-column">
                <span class="label-gracePeriod">End Date</span>
                <mat-form-field class="input-date" style="height: 60px;">
                  <mat-label class="label-datepicker">Select Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    autocomplete="off"
                    style="color: black"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker
                    #endDatePicker
                    color="primary"
                    disabled="false"
                  ></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end align-items-center mb-3">
            <textarea
              class="form-control text-area-deskripsi-proyek"
              id="deskripsiProyek"
              rows="3"
              placeholder="Deskripsi"
            ></textarea>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4"
                >Pembayaran Pokok yang sudah dibayarkan</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>

            <div
              class="input-group mb-3 d-flex justify-content-end align-items-center input-grup"
            >
              <div class="d-flex justify-content-end align-items-center">
                <input
                  type="text"
                  class="form-control input-tenor"
                  id="noSHL"
                  placeholder="0.00"
                />
                <button
                  class="btn btn-outline-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="buttonTenor"
                >
                  USD
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <ng-container *ngFor="let item of listItemTenor">
                    <li>
                      <a
                        class="dropdown-item"
                        id="item.id"
                        (click)="getDropdownVal(item.name)"
                        >{{ item.name }}</a
                      >
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-baseline">
              <span class="label-inputWithdrawal mb-4"
                >Pembayaran Bunga yang sudah dibayarkan</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-asterisk mandatorySign"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"
                />
              </svg>
            </div>

            <div
              class="input-group mb-3 d-flex justify-content-end align-items-center input-grup"
            >
              <div class="d-flex justify-content-end align-items-center">
                <input
                  type="text"
                  class="form-control input-tenor"
                  id="noSHL"
                  placeholder="0.00"
                />
                <button
                  class="btn btn-outline-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="buttonTenor"
                >
                  USD
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <ng-container *ngFor="let item of listItemTenor">
                    <li>
                      <a
                        class="dropdown-item"
                        id="item.id"
                        (click)="getDropdownVal(item.name)"
                        >{{ item.name }}</a
                      >
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button
              class="btn btn-primary px-3 py-1 rounded"
              (click)="firstForm()"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- STEP 2 -->
      <mat-step [stepControl]="secondFormGroup" label="Withdrawal">
        <ng-container>
          <div
            class="d-flex justify-content-end align-items-center mb-3 mt-4"
          ></div>

          <div class="bg-white rounded">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <img
                  src="assets/image/detail_agreement_left_header.svg"
                  alt=""
                />
              </div>
              <div class="me-3">
                <img
                  src="assets/image/detail_agreement_right_header.svg"
                  alt=""
                />
              </div>
            </div>

            <div class="row p-3">
              <div class="col-6" style="border-right: 1px solid #e4e4e4">
                <!-- <ng-container *ngFor="let item of detailDataSHLAgreement"> -->
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Nama Anak Perusahaan</span>
                  <span
                    class="p-2 rounded detail-data"
                    id="detailDataSHLAgreement.id"
                    >{{ this.firstFormGroup.value.selectedAP }}</span
                  >
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Nomor SHL Agreement</span>
                  <span class="p-2 rounded detail-data">{{
                    this.firstFormGroup.value.noSHLAgreementList
                  }}</span>
                </div>

                <div
                  class="d-flex flex-nowrap justify-content-between align-items-center mb-3"
                >
                  <span>SHL Agreement Date</span>
                  <span class="p-2 rounded detail-data">DD/MM/YYYY</span>
                </div>

                <div
                  class="d-flex flex-nowrap justify-content-between align-items-center mb-3"
                >
                  <span>Masa Penarikan / Available Period</span>
                  <span class="p-2 rounded detail-data">DD/MM/YYYY</span>
                </div>
                <div
                  class="d-flex flex-nowrap justify-content-between align-items-center mb-3"
                >
                  <span>Masa Tenggang / End-Date - Grace Period</span>
                  <span class="p-2 rounded detail-data">Grace Period</span>
                </div>
                <div
                  class="d-flex flex-nowrap justify-content-between align-items-center mb-3"
                >
                  <span>Masa Pengembalian / Repayment Period</span>
                  <span class="p-2 rounded detail-data">Repayment Period</span>
                </div>
                <div
                  class="d-flex flex-nowrap justify-content-between align-items-center mb-3"
                >
                  <span>Pembayaran Pokok</span>
                  <span class="p-2 rounded detail-data">0.00</span>
                </div>

                <!-- </ng-container> -->
              </div>

              <div class="col-6">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Nama Proyek</span>
                  <span class="p-2 rounded detail-data">SIMLOAN</span>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Mata Uang</span>
                  <span class="p-2 rounded detail-data">USD</span>
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Total Pagu</span>
                  <span class="p-2 rounded detail-data">750.000.000.000</span>
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Total Withdrawal</span>
                  <span class="p-2 rounded detail-data">50.000.000.000</span>
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Sisa Pagu</span>
                  <span class="p-2 rounded detail-data">50.000.000.000</span>
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Bunga</span>
                  <span class="p-2 rounded detail-data">0.00%</span>
                </div>

                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span>Terakhir Penarikan</span>
                  <span class="p-2 rounded detail-data"
                    >Penarikan ke-1</span
                  >
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div class="py-3">
            <span class="fw-bold">Detail Withdrawal</span>
          </div>
        </ng-container>

        <div class="tabulator-container">
          <div class="table-shlScheduleDetailPreview pb-2" id="previewTabelProyek"></div>
        </div>

        <div class="d-flex justify-content-end">
          <button
            class="btn btn-primary px-3 py-1 rounded"
            (click)="secondForm()"
          >
            Next
          </button>
        </div>

      </mat-step>

      <!-- STEP 3 -->
      <mat-step [stepControl]="thirdFormGroup" label="Preview">
        <div class="header-preview rounded">
          <div class="d-flex justify-content-between align-items-center">
            <span class="title-preview">Skedul Pembayaran Angsuran Pokok dan Bunga</span>
            <button class="btn btn-light bg-transparant px-3 py-1 rounded"><i class="bi bi-download me-2"></i>Download</button>
          </div>
        </div>
        <div class="table-shlScheduleCreatePreview pb-2"></div>
      </mat-step>
    </mat-stepper>
  </main>
</div>
