<div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div id="header" class="header">
        <div class="col-12 bg-white sub-nav border-top"
            style="margin-top: 60px; padding-left: 282px; padding-bottom: 20px; padding-top: 15px;">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="simulasi" style="font-size: 22px;">Simulasi FINANCIAL COST (BONDS) 30yr</div>
                    <div class="p-2 btn btn-light btn-sm"><img src="./assets/icon/download-02.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main mt-2" id="main">
        <div routerLink="/financing_cost" routerLinkActive="active">
            <div class="btn mb-2"><img src="assets/icon/arrow-left.svg" alt=""> BACK</div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-5">
                            <p class="required"><label for="#">Pilih Bank</label>*</p>
                        </div>
                        <div class="col-7">
                            <select id="inputState" class="form-select" required>
                                <option selected="">Select Bank Type</option>
                                <option value="#">Standar Chartered</option>
                                <option value="#">Mizuho</option>
                                <option value="#">BofA MERRILL LYNCH</option>
                                <option value="#">HSBC</option>
                                <option value="#">MUFG</option>
                            </select>
                        </div>
                        <div class="mt-4"></div>
                        <div class="col-5">
                            <p class="required"><label for="#">Pilih Tanggal</label>*</p>
                        </div>
                        <div class="col-7">
                            <input type="date" class="form-control" required>
                        </div>
                    </div>
                    <mat-divider class="mt-3"></mat-divider>
                    <!-- Tenor -->
                    <div class="card bg-light mt-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="d-flex justify-content-between p-3">
                                    <div class="p-2 align-self-center">Tenor 1</div>
                                    <div class="flex-fill p-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">1 Tahun</option>
                                            <option value="2">5 Tahun</option>
                                            <option value="3">7 Tahun</option>
                                            <option value="3">10 Tahun</option>
                                            <option value="3">15 Tahun</option>
                                            <option value="3">20 Tahun</option>
                                            <option value="3">25 Tahun</option>
                                            <option value="3">30 Tahun</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex justify-content-between p-3">
                                    <div class="p-2 align-self-center">Tenor 2</div>
                                    <div class="flex-fill p-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">1 Tahun</option>
                                            <option value="2">5 Tahun</option>
                                            <option value="3">7 Tahun</option>
                                            <option value="3">10 Tahun</option>
                                            <option value="3">15 Tahun</option>
                                            <option value="3">20 Tahun</option>
                                            <option value="3">25 Tahun</option>
                                            <option value="3">30 Tahun</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="d-flex p-3">
                                    <div class="align-self-center p-2">
                                        <button class="btn bg-white p-1">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Tenor -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <div class="flex-fill">
                                    <label for="#">Pilih Nama Obligasi</label>
                                </div>
                                <div class="flex-fill">
                                    <select id="inputState" class="form-select" required>
                                        <option selected="">Obligasi Internasional</option>
                                        <option value="#">BGMTN 2nd DD 2012</option>
                                        <option value="#">GMTN 2017 Tranche A</option>
                                        <option value="#">GMTN 2017 Tranche B</option>
                                        <option value="#">GMTN 2018 Seri 1</option>
                                        <option value="#">GMTN 2019 – Seri 6</option>
                                        <option value="#">Japanese Yen Bond 2019 Seri 2 – 5Y</option>
                                        <option value="#">GMTN 2019 Seri 9</option>
                                        <option value="#">GMTN 2020 Seri 11</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <p class="required"><label for="#">Asumsi Pinjaman</label>*</p>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">$</button>
                                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" required>
                                        <button type="button" class="btn btn-light btn-sm">USD</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <p class="required"><label for="#">Indicative Yield</label>*</p>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <input class="border border-light-subtle" type="text" name="#" id="#"
                                            placeholder="665" require>
                                        <span class="input-group-text" id="basic-addon2">% percentage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <label for="#">Kurs</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" >
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <label for="#">Bunga Per Bulan</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control  bg-light" aria-label="Text input with segmented dropdown button" readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer mt-3"></div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label for="#">Bunga Per Tahun</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <label for="#">Total Bunga</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <div class="flex-fill">
                                    <label for="#">Pilih Nama Obligasi</label>
                                </div>
                                <div class="flex-fill">
                                    <select id="inputState" class="form-select" required>
                                        <option selected="">Obligasi Internasional</option>
                                        <option value="#">BGMTN 2nd DD 2012</option>
                                        <option value="#">GMTN 2017 Tranche A</option>
                                        <option value="#">GMTN 2017 Tranche B</option>
                                        <option value="#">GMTN 2018 Seri 1</option>
                                        <option value="#">GMTN 2019 – Seri 6</option>
                                        <option value="#">Japanese Yen Bond 2019 Seri 2 – 5Y</option>
                                        <option value="#">GMTN 2019 Seri 9</option>
                                        <option value="#">GMTN 2020 Seri 11</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <p class="required"><label for="#">Asumsi Pinjaman</label>*</p>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">$</button>
                                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" required>
                                        <button type="button" class="btn btn-light btn-sm">USD</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <p class="required"><label for="#">Indicative Yield</label>*</p>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <input class="border border-light-subtle" type="text" name="#" id="#"
                                            placeholder="665" require>
                                        <span class="input-group-text" id="basic-addon2">% percentage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between  mt-2">
                                <div>
                                    <label for="#">Kurs</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <label for="#">Bunga Per Bulan</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer mt-3"></div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label for="#">Bunga Per Tahun</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button"  readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <label for="#">Total Bunga</label>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-light">Rp</button>
                                        <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" readonly>
                                        <button type="button" class="btn btn-light btn-sm">IDR</button>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item">IDR</a></li>
                                            <li><a class="dropdown-item">USD</a></li>
                                            <li><a class="dropdown-item">EUR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse mt-3">
                        <div class="btn btn-primary btn-sm" (click)="toggleHitungKalkulasi()">Hitung Kalkulasi</div>
                    </div>
                </div>
                <mat-divider class="mt-3"></mat-divider>
                <div class="container">
                    <div class="d-flex  justify-content-between mt-3">
                        <div>
                            <label for="">Selisih Delta/Tahun</label>
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" placeholder="0.45" readonly>
                                    <button type="button" class="btn btn-light btn-sm">Tn</button>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" placeholder="0.45" readonly>
                                    <button type="button" class="btn btn-light btn-sm">Tn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex  justify-content-between mt-3">
                        <div>
                            <label for="">Selisih Delta Total  30 Tahun</label>
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" placeholder="0.45" readonly>
                                    <button type="button" class="btn btn-light btn-sm">Tn</button>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="text" class="form-control bg-light" aria-label="Text input with segmented dropdown button" placeholder="0.45" readonly>
                                    <button type="button" class="btn btn-light btn-sm">Tn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>