<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center"></a>
  </div>

  <div class="">
    <Label class="d-flex align-items-center">{{headerTitle}}</Label>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <!-- Notification-icon -->
      <li class="nav-item">
        <div class="dropdown rounded-circle">
          <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/icon/bell-01.svg" alt="" />
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </li>
      <!-- end notification-icon -->
      <!-- Jabatan-user -->
      <div class="flex-container"></div>
      <div class="flex-container nav-item">
        <div class="user-jabatan">
          <p>Staff Pegawai</p>
        </div>
        <!-- end-Jabatan-User -->
        <!-- Username -->
        <div class="username">
          <p>{{userAccount.user}}</p>
        </div>
      </div>
      <!-- end-Username -->
      <!-- User-icon -->
      <li class="nav-item margin">
        <div class="dropdown">
          <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/icon/user-03.svg" alt="" />
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </li>
      <!-- end-user-icon -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
