<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <main id="main" class="main">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <p class="text-secondary">
          <a routerLink="/market_update" class="text-secondary">
            <i class="bi bi-arrow-left me-2"></i>
            Back to Market Update
          </a>
        </p>
      </div>

    </div>
    <!-- <div class="d-flex flex-column main-section"> -->
      <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column">
          <div class="text-center">
            <h2>Import Laporan Market Update</h2>
            <h5 class="text-secondary">Pilih data excel template sesuai kebutuhan anda sekarang</h5>
          </div>
          <div>
            <div class="mb-3">
              <label for="uploadFile" class="fw-bold mb-1">Pilih Indikator Market Update</label>
              <ng-select
                [items]="subParameterSelect"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="subParameterItems"
                placeholder="Pilih Indikator Market Update"
                (change)="indikatorSelect($event)"
                >
              </ng-select>
            </div>
            <div class="mb-3" [style.display]="indikatorName !== 'RKAP' ? 'block' : 'none'">
              <label for="uploadFile" class="fw-bold mb-1">Pilih Parameter Market Update</label>
              <ng-select
                [items]="masterCategoryParams"
                bindLabel="deskripsi"
                bindValue="id_ctg_rs_psr"
                [(ngModel)]="parameterItems"
                placeholder="Pilih Parameter Market Update"
                (change)="paramsSelect($event)"
                >
              </ng-select>
            </div>
            <div class="mb-3" [style.display]="indikatorName !== 'RKAP' ? 'block' : 'none'">
              <label for="uploadFile" class="fw-bold mb-1">Pilih Sub Indikator Market Update</label>
              <ng-select
                [items]="selectedSubCategoryParams"
                bindLabel="deskripsi"
                bindValue="id_sub_ctgrspsr"
                [(ngModel)]="dataParameterItems"
                placeholder="Pilih Indikator Market Update"
                (change)="getValueParams($event)"
                >
                >
              </ng-select>
            </div>
            <div class="mb-3">
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>
                    <img src="./assets/icon/upload-cloud-02.svg" alt="">
                    <div class="text-center"><span class="text-primary">Click to Upload</span> or drag and drop<br>
                        SVG, PNG, JPG or GIF ( max.800x400px)
                    </div>
                </ngx-dropzone-label>
            </ngx-dropzone>
            <ngx-dropzone-preview *ngFor="let f of parameterCurrency" [removable]="true"
              (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" routerLink="/market_update/preview_laporan" [disabled]="false">Lihat Hasil Upload</button>
            </div>
          </div>
        </div>
      </div>
  </main>

  <!-- <app-footer></app-footer> -->
</div>
