<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="header" class="header">
  <div class="col-12 bg-white sub-nav border-top">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <div class="search search-bar me-2">
          <form class="search-form" method="POST" action="#">
            <input type="text" name="query" placeholder="Cari Nama Label" title="Enter search keyword"
              style="font-size: 14px;">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div>
        <button type="button" class="btn btn-primary me-2" style="font-size: 14px;">Cari</button>
        <button class="btn btn-light bg-white me-2" style="font-size: 14px;"><i class="bi bi-calendar me-2"></i>Pilih
          Tanggal</button>
        <button type="button" class="btn btn-transparant border-light me-2" style="font-size: 14px;">Customizable
          Table</button>
        <button type="button" class="btn btn-transparant border-light me-2" style="font-size: 14px;">Reset</button>
      </div>
      <div>
        <button class="bg-light rounded p-3 me-5" style="border: none;" type="button">
          <i class="bi bi-download"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<main id="main" class="main">
  <!-- btn kembali -->
    <div>
      <p class="text-secondary">
        <a routerLink="/market_update" class="text-secondary">
          <i class="bi bi-arrow-left me-2"></i>
          Back to Market Update
        </a>
      </p>
    </div>
  <!-- end  btn kembali -->
  <div class="comtainner">
    <div class="row mt-4">
      <!-- Detail Pdb -->
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="fw-semibold">PDB</span>
          </div>
        </div>
        <div class="text-primary" [style.display]="isLoading ? 'block' : 'none'">
          <div class="d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
            </div>
            <span class="text-dark ms-1">Memuat data tabel...</span>
          </div>
        </div>
        <div class="table-DetailPdb mt-2"></div>
      </div>
      <!-- End Detil Pdb -->
      <!-- Realisasi -->
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="fw-semibold">Realisasi</span>
          </div>
          <div>
            <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" data-bs-toggle="modal" data-bs-target="#editRealisasi">Edit</button>
            <button class="btn btn-transparant border-secondary bg-white ms-1" style="font-size: 14px;">Tambah</button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="editRealisasi" tabindex="-1" aria-labelledby="editRealisasiLabel" aria-hidden="true" data-bs-backdrop="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Realisasi</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmitRealisasi()">
                <div class="modal-body">
                    <mat-form-field class="me-2 date-field">
                      <mat-label class="label-datepicker">Pilih</mat-label>
                    <input #datePickerValue matInput [matDatepicker]="picker1" [max]="maxDate" autocomplete="off" disabled (dateChange)="onDate($event)" style="color: black;" name="tanggal" [(ngModel)]="formDataRealisasi.tahun">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 color="primary" disabled="false" style="z-index: 3;"></mat-datepicker>
                  </mat-form-field>
                  <br/>
                  <label for="" class="fw-bold mb-1">Pilih Periode</label>
                  <ng-select
                    [items]="dataDetail"
                    bindLabel="periode"
                    bindValue="periode"
                    [(ngModel)]="realisasiPdbItem"
                    placeholder="Pilih Periode"
                    (change)="realisasiPdbSelect($event)"
                    name="nama_kurs"
                    [(ngModel)]="formDataRealisasi.periode">
                  </ng-select>
                  <br/>
                  <!-- <input type="number" > -->
                  <label for="" class="fw-bold mb-1">Masukan Nilai PDB</label>
                  <input class="form-control" type="number" placeholder="Masukan nilai kurs" aria-label="Masukan nilai kurs" name="nilai" id="nilai" #nilaiEditRealKurs [(ngModel)]="formDataRealisasi.nilai_realisasi">
                  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <!-- End Modal -->
        </div>
        <div class="text-primary" [style.display]="isLoading ? 'block' : 'none'">
          <div class="d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
            </div>
            <span class="text-dark ms-1">Memuat data tabel...</span>
          </div>
        </div>
        <div class="table-realisasiPdb mt-2"></div>
      </div>
      <!-- End Realisasi -->
    </div>
    <div class="row mt-4">
      <!-- RKAP -->
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="fw-semibold">RKAP</span>
          </div>
          <div>
            <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" data-bs-toggle="modal" data-bs-target="#editRKAP">Edit</button>
            <button class="btn btn-transparant border-secondary bg-white ms-1" style="font-size: 14px;">Tambah</button>
          </div>
          <!-- modal RKAP -->
          <div class="modal fade" id="editRKAP" tabindex="-1" aria-labelledby="editRKAPLabel" aria-hidden="true" data-bs-backdrop="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">RKAP</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmitRKAP()">
                <div class="modal-body">
                    <mat-form-field class="me-2 date-field">
                      <mat-label class="label-datepicker">Pilih Tanggal</mat-label>
                    <input #datePickerValue matInput [matDatepicker]="picker2" [max]="maxDate" autocomplete="off" disabled (dateChange)="onDate($event)" style="color: black;" name="tanggal" [(ngModel)]="formDataRKAP.tanggal">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary" disabled="false" style="z-index: 3;"></mat-datepicker>
                  </mat-form-field>
                  <br/>
                  <label for="" class="fw-bold mb-1">Pilih Kurs</label>
                  <ng-select
                    [items]="dataDetail"
                    bindLabel="mata_uang"
                    bindValue="mata_uang"
                    [(ngModel)]="realisasiPdbItem"
                    placeholder="Pilih Kurs"
                    (change)="realisasiPdbSelect($event)"
                    name="nama_kurs"
                    [(ngModel)]="formDataRKAP.nama_kurs">
                  </ng-select>
                  <br/>
                  <!-- <input type="number" > -->
                  <label for="" class="fw-bold mb-1">Masukan Nilai</label>
                  <input class="form-control" type="number" placeholder="Masukan nilai kurs" aria-label="Masukan nilai kurs" name="nilai" id="nilai" #nilaiEditRealKurs [(ngModel)]="formDataRKAP.nilai_rkap">
                  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          <!-- end modal RKAP -->
        </div>
        <div class="text-primary" [style.display]="isLoading ? 'block' : 'none'">
          <div class="d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
            </div>
            <span class="text-dark ms-1">Memuat data tabel...</span>
          </div>
        </div>
        <div class="table-rkapPdb mt-2"></div>
      </div>
      <!-- End RKAP -->
      <!-- Outlook -->
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="fw-semibold">Realisasi</span>
          </div>
          <div>
            <button class="btn btn-transparant border-secondary bg-white" data-bs-toggle="modal" data-bs-target="#editOutlook" style="font-size: 14px;">Edit</button>
            <button class="btn btn-transparant border-secondary bg-white ms-1" style="font-size: 14px;">Tambah</button>
          </div>
          <!-- modal outlook -->
          <div class="modal fade" id="editOutlook" tabindex="-1" aria-labelledby="editOutlookLabel" aria-hidden="true" data-bs-backdrop="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">RKAP</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmitOutlook()">
                <div class="modal-body">
                    <mat-form-field class="me-2 date-field">
                      <mat-label class="label-datepicker">Pilih Tanggal</mat-label>
                    <input #datePickerValue matInput [matDatepicker]="picker3" [max]="maxDate" autocomplete="off" disabled (dateChange)="onDate($event)" style="color: black;" name="tanggal" [(ngModel)]="formDataOutlook.tanggal">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 color="primary" disabled="false" style="z-index: 3;"></mat-datepicker>
                  </mat-form-field>
                  <br/>
                  <label for="" class="fw-bold mb-1">Pilih Kurs</label>
                  <ng-select
                    [items]="dataDetail"
                    bindLabel="mata_uang"
                    bindValue="mata_uang"
                    [(ngModel)]="realisasiPdbItem"
                    placeholder="Pilih Kurs"
                    (change)="realisasiPdbSelect($event)"
                    name="nama_kurs"
                    [(ngModel)]="formDataOutlook.nama_kurs">
                  </ng-select>
                  <br/>
                  <!-- <input type="number" > -->
                  <label for="" class="fw-bold mb-1">Masukan Nilai</label>
                  <input class="form-control" type="number" placeholder="Masukan nilai kurs" aria-label="Masukan nilai kurs" name="nilai" id="nilai" #nilaiEditRealKurs [(ngModel)]="formDataOutlook.nilai_outlook">
                  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>

              </div>
            </div>
          </div>
          <!-- end modal outlook -->
        </div>
        <div class="text-primary" [style.display]="isLoading ? 'block' : 'none'">
          <div class="d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
            </div>
            <span class="text-dark ms-1">Memuat data tabel...</span>
          </div>
        </div>
        <div class="table-outlookPdb mt-2"></div>
      </div>
      <!-- End Outlook -->
    </div>
  </div>
</main>
<app-footer></app-footer>