.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  padding-bottom: 20px;
  padding-top: 15px;
}

#input_date{
  border: 1px solid #e4e4e4;
  padding: 5.5px;
}

#main {
  margin-top: 28px;
}

.green-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.red-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.yellow-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: yellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    margin-top: 63px;
  }
}

.dropdown-menu{
  padding: 10px;
}

.dropdown-item:hover{
  background-color: #e4e4e4;
  border-radius: 8px;
}
