.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  padding-bottom: 20px;
  padding-top: 15px;
}

#input_date{
  border: 1px solid #e4e4e4;
  padding: 5.5px;
}

#main {
  margin-top: 28px;
}

.circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.green-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.red-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.yellow-circle-card{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%) !important;
  background: yellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    margin-top: 10%;
  }
}

.dropdown-menu{
  padding: 10px;
}

.dropdown-item:hover{
  background-color: #e4e4e4;
  border-radius: 8px;
}

.label-datepicker{
  font-size: 14px;
  color: black;
}

::ng-deep .mat-mdc-form-field{
  width: 55%;
  height: 60px;
  margin-top: 25px;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
  /* background-color: none; */
  border: 1px solid rgba(1, 41, 112, 0.2);
  border-radius: 10px;
}

::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
  padding-top: 20px;
}

::ng-deep .mdc-text-field {
  align-items: center !important;
}

::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  font-size: 14px !important;
}

.label-datepicker{
  font-size: 14px;
  color: black;
}

.mat-mdc-form-field{
  width: 40%;
}
