
<!-- <app-register></app-register> -->
  <!-- <router-outlet></router-outlet> -->

<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <div class="d-flex flex-column justify-content-center main-section">
  <div class="d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column">
      <div class="text-center">
        <h4 style="margin-bottom: 16px;">Halo, Ceptari Tyas</h4>
      </div>
      <div>
        <h2 style="margin-bottom: 40px;">Aktivitas apa yang ingin Anda lakukan?</h2>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <a href="#">
      <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
        <div>
          <img src="../assets/image/Illustration_4.svg" alt="" class="text-center">
        </div>
        <div class="fw-medium" style="font-size: 18px;">
          <p>Shareholder Loan</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
        <div>
          <img src="../assets/image/Illustration_3.svg" alt="" class="text-center">
        </div>
        <div class="fw-medium text" style="font-size: 18px;">
          <p>Financial Debt Convenant Ratio</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
        <div>
          <img src="../assets/image/Illustration_2.svg" alt="" class="text-center">
        </div>
        <div class="fw-medium" style="font-size: 18px;">
          <p>Riset Pasar</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
        <div>
          <img src="../assets/image/Illustration_1.svg" alt="" class="text-center">
        </div>
        <div class="fw-medium" style="font-size: 18px;">
          <p>Administrasi Pinjaman</p>
        </div>
      </div>
    </a>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-content">
      <p>Ada masalah? <a href="#">Hubungi PLN Icon+</a> untuk ditindak lanjuti.</p>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center text-version ">
    <div>
      <p>Simloan Versi 3.0</p>
    </div>
  </div>
</div>
</main>
