.submenu-market {
  color: #000000;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s, color 0.3s;
}

.submenu-market:hover,
.submenu-market:focus {
  border-bottom: 2px solid #2E75F0;
  color: #2E75F0;
}

.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  /* padding-bottom: 20px; */
  padding-top: 15px;
}

#main{
  margin-top: 100px;
}

#input_date{
  border: 1px solid #e4e4e4;
  padding: 5.5px;
}

.date-field{
  /* background-color: blue; */
}

::ng-deep .mat-mdc-form-field{
  width: 55%;
  height: 60px;
  margin-top: 25px;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
  /* background-color: none; */
  border: 1px solid rgba(1, 41, 112, 0.2);
  border-radius: 10px;
}

::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
  padding-top: 20px;
}

::ng-deep .mdc-text-field {
  align-items: center !important;
}

::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  font-size: 14px !important;
}

.label-datepicker{
  font-size: 14px;
  color: black;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    margin-top: 20%;
  }
}
