<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div id="header" class="header">
    <div class="col-12 bg-white sub-nav border-top">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <!-- <div class="search search-bar me-2">
            <form class="search-form" method="POST" action="#">
              <input type="text" name="query" placeholder="Cari Nama Label" title="Enter search keyword" style="font-size: 14px;">
              <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
          </div> -->
            <!-- <button type="button" class="btn btn-primary me-2" style="font-size: 14px;">Cari</button> -->
            <!-- <button class="btn btn-light bg-white me-2" style="font-size: 14px;"><i class="bi bi-calendar me-2"></i>Pilih Tanggal</button> -->
            <!-- <input type="date" name="date" id="input_date" class="bg-white rounded border-none ms-2" placeholder="Pilih Tanggal" #date (change)="getDate(date.value)"> -->
            <mat-form-field class="me-2 date-field">
              <mat-label class="label-datepicker">Pilih Tanggal</mat-label>
              <input #datePickerValue matInput [matDatepicker]="picker1" [max]="maxDate" autocomplete="off" (dateChange)="onDate($event)" disabled style="color: black;">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary" disabled="false"></mat-datepicker>
            </mat-form-field>
            <button type="button" class="btn btn-primary me-2" style="font-size: 14px;" (click)="searchData()">Cari</button>
            <!-- <button type="button" class="btn btn-light border border-dark-subtle me-2" style="font-size: 14px;">Customizable Table</button> -->
            <button type="button" class="btn btn-light border border-dark-subtle me-2" style="font-size: 14px;" (click)="resetFilter()">Reset</button>
        </div>
        <div>
          <button class="bg-light rounded p-3 me-5" style="border: none;" type="button">
            <i class="bi bi-download"></i>
          </button>
        </div>
      </div>

      <!-- Sub Menu -->
      <div class="d-flex justify-content-start align-items-center text-dark mt-3">
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;" (click)="onClick('currencyRate')">Currency Rate</a>
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;" (click)="onClick('interestRate')">Interest Rate</a>
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;" (click)="onClick('bondYield')">Bond Yield</a>
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;" (click)="onClick('commodities')">Commodities</a>
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;" (click)="onClick('macroIndicator')">Macro Indicator</a>
        <a class="submenu-market" style="margin-right: 24px; font-size: 14px; cursor: pointer;">Debt Services</a>
      </div>
      <!--End Sub Mmenu -->
    </div>

  </div>

  <main id="main" class="main">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4>Import Data</h4>
      </div>

      <div>
        <button class="btn btn-primary"  routerLink="/market_update/importLaporan_marketUpdate"><i class="bi bi-file-earmark-arrow-down me-2"></i>Import Laporan</button>
        <!-- <div class="modal fade" id="verticalycentered" data-bs-backdrop="true" tabindex="-1"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="card">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <img src="./assets/icon/upload-cloud-02.svg" alt="">
                                <div class="text-center"><a>Click to Upload or drag and drop</a><br>
                                    SVG, PNG, JPG or GIF ( max.800x400px)
                                </div>
                            </ngx-dropzone-label>
                        </ngx-dropzone>
                    </div>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
                                            (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-image-preview>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
        <!-- <ngx-dropzone (change)="readExcel($event)">
          <ngx-dropzone-label>
              <img src="./assets/icon/upload-cloud-02.svg" alt="">
              <div class="text-center"><a>Click to Upload or drag and drop</a><br>
                  SVG, PNG, JPG or GIF ( max.800x400px)
              </div>
          </ngx-dropzone-label>
      </ngx-dropzone> -->
      </div>


    </div>

    <div id="currencyRate" class="pt-2"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
      <div>
        <h4>Currency Rate</h4>
      <!-- <input type="file" name="" id="" (change)="readExcel($event)"> -->
      </div>

      <!-- Button Customize Table (Show/Hide Column) -->
      <!-- <div>
        <button class="btn btn-transparant border-secondary bg-white dropdown-toggle me-2" style="font-size: 14px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">Customize Table</button>
        <div class="dropdown-menu ps-2">
          <form (ngSubmit)="onSubmit($event)">
            <div style="font-size: 15px;">
              <input type="checkbox" name="IDR" id="mata_uang">
              <label class="ms-2" value="mata_uang" for="IDR">IDR</label>
              <br/>
              <input type="checkbox" name="Exchange Rate" id="nilai_rkap">
              <label class="ms-2" value="" for="Exchange Rate">Exchange Rate</label>
              <br/>
              <input type="checkbox" name="Change RKAP" id="change_rkap">
              <label class="ms-2" value="" for="Change RKAP">Change RKAP</label>
              <br/>
              <input type="checkbox" name="Change MoM" id="change_mom">
              <label class="ms-2" value="" for="Change MoM">Change MoM</label>
              <br/>
              <input type="checkbox" name="Change WoW" id="change_wow">
              <label class="ms-2" value="" for="Change WoW">Change WoW</label>
              <br/>
              <input type="checkbox" name="Change 1 Day" id="change_1day">
              <label class="ms-2" value="" for="Change 1 Day">Change 1 Day</label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Save Change</button>
          </form>
        </div>
        <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" routerLink="/market_update/currency_rate">Lihat Detail</button>
      </div> -->

    </div>

    <div class="table-currency mt-2"></div>

    <div id="interestRate" class="pt-2"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
      <div>
        <h4>Interest Rate</h4>
      </div>

      <div>
        <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" routerLink="/market_update/interest_rate">Lihat Detail</button>
      </div>

    </div>

    <div class="table-interest mt-2"></div>

    <div id="bondYield" class="pt-2"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
      <div>
        <h4>Bond Yield</h4>
      </div>

      <div>
        <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" routerLink="/market_update/bond_yield">Lihat Detail</button>
      </div>

    </div>
    <h5>SBN</h5>
    <div class="table-bondYieldSBN mt-2"></div>

    <h5 class="mt-4">US Treasury</h5>
    <div class="table-bondYieldUST mt-2"></div>

    <div id="commodities" class="pt-2"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
      <div>
        <h4>Commodities</h4>
      </div>

      <div>
        <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" routerLink="/market_update/commodities">Lihat Detail</button>
        <!-- <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;" (click)="updateColumn()">Tes</button> -->
      </div>

    </div>

    <div class="table-commodities mt-2"></div>

    <div id="macroIndicator" class="pt-2"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
      <div>
        <h4>Macro Indicator</h4>
      </div>

      <div>
        <button class="btn btn-transparant border-secondary bg-white" style="font-size: 14px;">Lihat Detail</button>
      </div>

    </div>

    <div class="row">
      <div class="col-6">
        <p class="fw-semibold">PDB</p>
        <div class="table-pdb"></div>
      </div>
      <div class="col-6">
        <p class="fw-semibold">Inflasi</p>
        <div class="table-inflasi mt-2"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <p class="fw-semibold">PMI</p>
        <div class="table-pmi mt-2"></div>
      </div>
      <div class="col-6">
        <p class="fw-semibold">Retail</p>
        <div class="table-retail mt-2"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <p class="fw-semibold">Money Supply/Uang Beredar (M2)</p>
        <div class="table-moneySupply mt-2"></div>
      </div>
      <div class="col-6">
        <p class="fw-semibold">Foreign Exchange Reserves/Cadangan Devisa</p>
        <div class="table-foreignExchange mt-2"></div>
      </div>
    </div>


    <!-- <div class="mt-5">
      <input type="file" name="file" id="" (change)="readExcel($event)">
    </div> -->
    <!-- <div *ngIf="excelDataJSON">
      <table class="table table-striped">
        <thead><th>Name</th><th>Birthday</th></thead>
        <tbody>
          <tr *ngFor="let item of excelDataJSON">
            <td>{{item.Name}}</td>
            <td>{{item.Birthday}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <!-- <div class="content" role="main" [innerHTML]="html" #tableau></div> -->
    <!-- <div class="example-table-2 mt-5"></div> -->
  </main>
  <app-footer></app-footer>
</div>
