<aside id="sidebar" class="sidebar scrollable-content d-flex flex-column justify-content-between">


  <div class="pt-3">
    <div class="d-flex flex-column">
      <a href="#">
        <img src="assets/image/Logo.svg" alt="" width="200px" class="mb-2">
      </a>
      <p class="logo-title">Integrated Debt and Covenant Management System</p>
    </div>

    <div>
      <div class="search search-bar" style="margin-bottom: 28px;">
        <form class="search-form" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div>

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">General</li>

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/main" routerLinkActive="active">
            <i class="bi bi-house"></i>
            <span>Beranda</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#SHL" data-bs-toggle="collapse" href="#">
            <i class="bi bi-cash-stack drop-down"></i><span>SHL</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="SHL" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a routerLink="/shloverview" routerLinkActive="active">
                <i class=""></i><span>SHL Overview</span>
              </a>
            </li>
            <li>
              <a routerLink="/shl_agreement" routerLinkActive="active">
                <i class=""></i><span>SHL Agreement</span>
              </a>
            </li>
            <li>
              <a routerLink="/shl_withdrawal" routerLinkActive="active">
                <i class=""></i><span>SHL Withdrawal</span>
              </a>
            </li>
            <li>
              <a routerLink="/shl_schedule" routerLinkActive="active">
                <i class=""></i><span>SHL Schedule</span>
              </a>
            </li>
            <li>
              <a routerLink="/shl_monitoring" routerLinkActive="active">
                <i class=""></i><span>SHL Monitoring</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#findebt" data-bs-toggle="collapse" href="#">
            <i class="bi bi-database"></i><span>Financial Debt</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="findebt" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a routerLink="/financial_report" routerLinkActive="active">
                <i class=""></i><span>Financial Report</span>
              </a>
            </li>
            <li>
              <a routerLink="/financial_import" routerLinkActive="active">
                <i class=""></i><span>Import</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#risetpasar" data-bs-toggle="collapse" href="#">
            <i class="bi bi-graph-up"></i><span>Riset Pasar</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="risetpasar" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a routerLink="/overview_harian" routerLinkActive="active">
                <i class=""></i><span>Overview</span>
              </a>
            </li>
            <li>
              <a routerLink="/market_update" routerLinkActive="active">
                <i class=""></i><span>Market Update</span>
              </a>
            </li>
            <li>
              <a routerLink="/liabilities" routerLinkActive="active">
                <i class=""></i><span>Liabilities</span>
              </a>
            </li>
            <li>
              <a routerLink="/financing_cost" routerLinkActive="active">
                <i class=""></i><span>Financing Cost</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#admpinjam" data-bs-toggle="collapse" href="#">
            <i class="bi bi-cash-stack"></i><span>Adm Pinjaman</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="admpinjam" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a routerLink="/adm_overview" routerLinkActive="active">
                <i class=""></i><span>Overview</span>
              </a>
            </li>
            <li>
              <a routerLink="/adm_pinjaman" routerLinkActive="active">
                <i class=""></i><span>Loan Profile Optimization</span>
              </a>
            </li>
            <li>
              <a routerLink="/adm_pinjaman" routerLinkActive="active">
                <i class=""></i><span>Loan Simulation</span>
              </a>
            </li>
            <li>
              <a routerLink="/adm_pinjaman" routerLinkActive="active">
                <i class=""></i><span>Loan Management</span>
              </a>
            </li>
            <li>
              <a routerLink="/adm_pinjaman" routerLinkActive="active">
                <i class=""></i><span>Loan Non SAP</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


  <!-- <span class="border border-top"></span> -->

  <ul style="margin-top: 100px;" class="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-question-circle"></i>
        <span>Bantuan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-person"></i>
        <span>Laporkan Bug</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-bug"></i>
        <span>Pengaturan</span>
      </a>
    </li>
    <li class="nav-item">
      <p class="nav-muted collapsed disabled" aria-disabled="true">
        <i class="bi bi-info-circle"></i>
        <span>Simloan Version 3.0</span>
      </p>
    </li>
  </ul>
</aside>
