<div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- Header -->
    <div id="header" class="header">
        <div class="col-12 bg-white sub-nav border-top"
            style="margin-top: 60px; padding-left: 282px; padding-bottom: 20px; padding-top: 15px;">
            <div class="container">
                <div class="search-bar">
                    <div class="d-flex align-items-center">
                        <!-- Search-bar -->
                        <div class="p-2 flex-fill">
                            <div class="input-group">
                                <button class="btn btn-sm" type="button" id="button-addon1"><img
                                        src="assets/icon/search-lg.svg" alt=""></button>
                                <input type="text" class="form-control"
                                    placeholder="Cari anak perusahaan, amandement number"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                            </div>
                        </div>
                        <!-- End-Search-bar -->
                        <div class="p-2">
                            <button type="button"
                                class="btn btn-outline-dark bg-white dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Currency </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item">USD</a></li>
                                <li><a class="dropdown-item">IDR</a></li>
                                <li><a class="dropdown-item">EUR</a></li>
                            </ul>
                        </div>
                        <div class="p-2">
                            <button type="button"
                                class="btn btn-outline-dark bg-white dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">status </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item">USD</a></li>
                                <li><a class="dropdown-item">IDR</a></li>
                                <li><a class="dropdown-item">EUR</a></li>
                            </ul>
                        </div>
                        <div class="p-2">
                            <div class="btn btn-outline-dark bg-white"><img src="assets/icon/settings-03.svg" alt="">
                                Costumizeable Table</div>
                        </div>
                        <div class="p-2">
                            <div class="btn" style="color: #9A9A9A; font-size: 14px;">Reset</div>
                        </div>
                        <div class="p-2">
                            <div class="btn btn-light"><img src="assets/icon/refresh-ccw-02.svg" alt=""></div>
                        </div>
                        <div class="p-2">
                            <div class="btn btn-light"><img src="assets/icon/download-02.svg" alt=""></div>
                        </div>
                        <div class="p-2">
                            <div class="btn btn-primary"><img src="assets/icon/plus.svg" alt=""> Create</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <main id="main" class="main">
        <h2>File Upload & Image Preview</h2>
        <p class="lead">No Plugins <b>Just Javascript</b></p>

        <!-- Upload  -->
        <form id="file-upload-form" class="uploader">
            <input id="file-upload" type="file" 
            (change)="fileUpload($event)" name="fileUpload" accept=".xls,.xlsx" />

            <label for="file-upload" id="file-drag"></label>
        </form>
        <div>
            {{convertedJson}}
        </div>
    </main>
    <app-footer></app-footer>
</div>