<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="header" id="header">
    <div class="col-12 bg-white sub-nav border-top" style="margin-top: 60px; padding-left: 280px; padding-top: 10px;">
        <div class="d-flex align-items-center">
            <div class="p-2">
                <div class="search search-bar">
                    <form class="search-form" method="POST" action="#">
                        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="p-2">
                <button class="btn btn-primary btn-sm">Cari</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-sm header-btn" style="color: black;" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="">Semua Status </span>
                        </div>
                        <div>
                            <i class="bi bi-chevron-down"></i>
                        </div>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item">September</a></li>
                    <li><a class="dropdown-item">Oktober</a></li>
                    <li><a class="dropdown-item">November</a></li>
                </ul>
            </div>
            <div class="p-2">
                <div class="btn btn-transparant" style="color: #9A9A9A; font-size: 14px;">Reset</div>
            </div>
        </div>
    </div>
</div>

<main class="main" id="main">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h3>Status Import Data</h3>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" routerLink="/import_laporan" routerLinkActive="active"><i
                        class="bi bi-file-earmark-arrow-down me-2"></i>
                        Import Laporan
                </button>
            </div>
        </div>
        <!-- table -->
        <div class="table-import"></div>
        <!-- end table -->
    </div>
</main>
<app-footer></app-footer>