.title{
    color: var(--color-silver-950, #0C0C0F);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.title-card1 {
    font-size: 30px;
    font-family: satosho,sans-serif;
    margin: 25px 25px;
}
.title-card{
    color: var(--color-silver-950, #0C0C0F);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.card{
  border: none;
}
.article-card{
    margin: 15px 15px;
}
.rkap{
    color: red;
}
.realisasi{
    color: #2EB0C2;
}
.outlook{
    color: #9A9A9A;
}
.item-flex{
    margin-right: 10px;
}
.btn-margin{
    margin: 25px 25px;
}

.text-card3{
    font-size: 14px;
}
.item {
    padding-right: 30px;
  }
a{
    font-size: 11px;
}

.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  padding-bottom: 0px;
  padding-top: 15px;
}

#main{
  padding-top: 85px;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    padding-top: 125px;
  }
}

#input_date{
    border: 1px solid #e4e4e4;
    padding: 5.5px;
  }
  
  
  ::ng-deep .mat-mdc-form-field{
    width: 60%;
    height: 60px;
    margin-top: 0px;
  }
  
  ::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
    /* background-color: none; */
    border: 1px solid rgba(1, 41, 112, 0.2);
    border-radius: 10px;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
    padding-top: 0px;
  }
  
  ::ng-deep .mdc-text-field {
    align-items: center !important;
  }
  
  ::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
    font-size: 14px !important;
  }
  
  .label-datepicker{
    font-size: 14px;
    color: black;
  }
  .p-left{
    padding-left: 25px;
  }
/* halfmodal */
.left-modal {
  position: absolute;
  margin-left: 930px;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  overflow-y: auto;
}

.left-modal .modal-dialog {
  margin: 0;
}

.left-modal .modal-content {
  border-radius: 5px 0 0 5px;
}

.left-modal .modal-header {
  border-radius: 0 5px 5px 0;
}