#input_date{
  border: 1px solid #e4e4e4;
  padding: 5.5px;
}

.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  padding-bottom: 20px;
  padding-top: 15px;
}

#main{
  margin-top: 40px;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    margin-top: 104px;
  }
}
.card{
  border: none;
}

.info-unit {
  color: var(--Color-Silver-600, #818181);
/* Text sm/Medium */
}

.active{
  background-color: #0d6efd !important;
  color: white !important;
  border: none;
}

.input-date-trending{
  width: 10.5rem;
  height: 70px;
  margin-top: 15px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  /* background-color: none; */
  border: 1px solid rgba(1, 41, 112, 0.2) !important;
  border-radius: 10px !important;
}

::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
  padding-top: 20px;
}

::ng-deep .mdc-text-field {
  align-items: center !important;
}

::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  font-size: 14px !important;
}
