<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <!-- Sub Header -->
  <div id="header" class="header">
    <div class="col-12 bg-white sub-nav border-top">
      <div class="d-flex flex-col justify-content-between align-items-center">
        <div>
          <!-- <button class="btn btn-light bg-white" style="font-size: 14px; border: 1px solid #e4e4e4">Harian</button> -->
          <a routerLink="/overview_harian" class="btn btn-light bg-white ms-2 text-dark" style="font-size: 14px;" >Harian</a>
          <button class="btn btn-primary ms-2" style="font-size: 14px;">Trending</button>
          <!-- <button class="btn btn-light bg-white ms-2" style="font-size: 14px;"><i class="bi bi-calendar me-2"></i>Pilih Tanggal</button> -->
          <input type="date" name="date" id="input_date" class="bg-white rounded border-none ms-2" placeholder="Pilih Tanggal">
          <button class="btn btn-light bg-white ms-2" (click)="toggleVisibilityLine()"><i class="bi bi-graph-up"></i></button>
          <button class="btn btn-light bg-white ms-2" (click)="toggleVisibilityBar()"><i class="bi bi-bar-chart-line"></i></button>
        </div>
        <div style="font-size: 14px;">
          <p>Indikator:</p>
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <span class="text-danger me-2 fw-semibold">RKAP</span>
            </div>
            <div>
              <img src="assets/icon/bullet.svg" alt="" class="me-2">
            </div>
            <div>
              <span class="text-primary me-2 fw-semibold">Realisasi</span>
            </div>
            <div>
              <img src="assets/icon/bullet.svg" alt="" class="me-2">
            </div>
            <div>
              <span class="text-secondary fw-semibold">Outlook</span>
            </div>
          </div>
        </div>
        <div style="font-size: 12px;">
          <span><i class="bi bi-circle-fill text-success me-2"></i>On Track</span><br/>
          <span><i class="bi bi-circle-fill text-warning me-2"></i>≤5% Underperformance</span><br/>
          <span><i class="bi bi-circle-fill text-danger me-2"></i>>5% Underperformance</span>
        </div>
        <div>
          <button class="bg-light rounded p-3" style="border: none;" type="button">
            <i class="bi bi-download"></i>
          </button>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sub Header -->

  <main id="main" class="main">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mt-4">Currency</h4>
      </div>
      <div>
        <button class="btn btn-transparant btn-sm border border-1 px-3 bg-white" (click)="compare()" [innerHTML]="isCompare ? 'Close' : 'Compare'"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-3 px-4 bg-white rounded">
        <apx-chart [style.display]="isVisibleLine ? 'block' : 'none'" [series]="lineChartKursSeries" [chart]="currencyChartDetails" [title]="currencyChartTitle"></apx-chart>
        <apx-chart [style.display]="isVisibleBar ? 'none' : 'block'" [series]="chartSeries2" [chart]="currencyBarChartDetails" [title]="currencyChartTitle"></apx-chart>
      </div>
    </div>

    <div class="row" [style.display]="isCompare ? 'block' : 'none'">
      <div class="col-12 py-3 px-4 bg-white rounded">
        <div class="row">
          <div class="col-7">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="font-size: 14px;">Kurs</th>
                  <th scope="col" style="font-size: 14px;">Change RKAP</th>
                  <th scope="col" style="font-size: 14px;">Change WoW</th>
                  <th scope="col" style="font-size: 14px;">Change 1 Day</th>
                  <th scope="col" style="font-size: 14px;">Change MoM</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" style="font-size: 14px; border-style: none;" class="border-start border-primary">USD</th>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 14px; border-style: none;" class="border-start border-success">EUR</th>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                </tr>
                <tr>
                  <th scope="row" style="font-size: 14px; border-style: none;" class="border-start border-warning">JPY</th>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                  <td>2.53%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-5 text-end">
            <button class="btn btn-transparant btn-sm border border-1 me-2">Bersihkan Semuanya</button>
            <button class="btn btn-transparant btn-sm border border-1">Tambah Perbandingan</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mt-4">Commodity</h4>
      </div>
      <div>
        <button class="btn btn-transparant btn-sm border border-1 px-3 bg-white">Edit</button>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-sm-center justify-content-md-center justify-content-lg-between justify-content-xl-between justify-content-xxl-between">
      <div class="bg-white p-2 m-2 rounded">

        <div class="d-flex align-items-center justify-content-between p-2">
          <div>
            <span>WTI & Brent</span>
          </div>
          <div>
            <button type="button" class="btn btn-transparant border border-1"
                style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="">September</span>
                  </div>
                  <div>
                    <i class="bi bi-chevron-down"></i>
                  </div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item">September</a></li>
                <li><a class="dropdown-item">Oktober</a></li>
                <li><a class="dropdown-item">November</a></li>
            </ul>
          </div>
        </div>

        <!-- <apx-chart [series]="lineChartKursSeries" [chart]="commodityChartDetails"></apx-chart>
        <apx-chart [series]="chartSeries2" [chart]="currencyBarChartDetails" [title]="currencyChartTitle"></apx-chart> -->

        <apx-chart [style.display]="isVisibleLine ? 'block' : 'none'" [series]="lineChartKursSeries" [chart]="commodityChartDetails"></apx-chart>

        <apx-chart [style.display]="isVisibleBar ? 'none' : 'block'" [series]="chartSeries2" [chart]="currencyBarChartDetails" [title]="currencyChartTitle"></apx-chart>

      </div>
      <div class="bg-white p-2 m-2 rounded">

        <div class="d-flex align-items-center justify-content-between p-2">
          <div>
           <span>WTI & Brent</span>
          </div>
          <div>
            <button type="button" class="btn btn-transparant border border-1"
                style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="">September</span>
                  </div>
                  <div>
                    <i class="bi bi-chevron-down"></i>
                  </div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item">September</a></li>
                <li><a class="dropdown-item">Oktober</a></li>
                <li><a class="dropdown-item">November</a></li>
            </ul>
          </div>
        </div>

        <apx-chart [style.display]="isVisibleLine ? 'block' : 'none'" [series]="lineChartKursSeries" [chart]="commodityChartDetails"></apx-chart>

        <apx-chart [style.display]="isVisibleBar ? 'none' : 'block'" [series]="chartSeries2" [chart]="currencyBarChartDetails" [title]="currencyChartTitle"></apx-chart>
      </div>
      <div class="bg-white p-2 m-2 rounded">

        <div class="d-flex align-items-center justify-content-between p-2">
          <div>
           <span>WTI & Brent</span>
          </div>
          <div>
            <button type="button" class="btn btn-transparant border border-1"
                style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="">September</span>
                  </div>
                  <div>
                    <i class="bi bi-chevron-down"></i>
                  </div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item">September</a></li>
                <li><a class="dropdown-item">Oktober</a></li>
                <li><a class="dropdown-item">November</a></li>
            </ul>
          </div>
        </div>

        <apx-chart [style.display]="isVisibleLine ? 'block' : 'none'" [series]="lineChartKursSeries" [chart]="commodityChartDetails"></apx-chart>

        <apx-chart [style.display]="isVisibleBar ? 'none' : 'block'" [series]="chartSeries2" [chart]="currencyBarChartDetails" [title]="currencyChartTitle"></apx-chart>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
      <div>
        <h4>Interest Rate</h4>
      </div>
      <div>
        <button class="btn btn-transparant btn-sm border border-1 px-3 bg-white">Edit</button>
      </div>
    </div>
    <div>
      <div class="bg-white rounded p-2">
        <apx-chart [style.display]="isVisibleLine ? 'block' : 'none'" [series]="lineChartInterestRateSeries" [chart]="currencyChartDetails"></apx-chart>

        <apx-chart [style.display]="isVisibleBar ? 'none' : 'block'" [series]="lineChartInterestRateSeries" [chart]="currencyBarChartDetails"></apx-chart>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
