#input_date{
  border: 1px solid #e4e4e4;
  padding: 5.5px;
}

.sub-nav{
  margin-top: 60px;
  padding-left: 282px;
  padding-bottom: 20px;
  padding-top: 15px;
}

#main{
  margin-top: 40px;
}

@media (max-width: 1199px) {
  .sub-nav {
    /* padding-left: 20px; */
    padding: 15px;
    margin: 0px;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
  }

  #main{
    margin-top: 63px;
  }
}
.card{
  border: none;
}

.info-unit {
  color: var(--Color-Silver-600, #818181);
/* Text sm/Medium */
}

.active{
  background-color: #0d6efd !important;
  color: white !important;
  border: none;
}
