<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <main id="main" class="main">
    <div class="d-flex flex-column justify-content-center main-section">
    <div class="d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column">
        <div class="text-center">
          <h4 style="margin-bottom: 16px;">Halo, {{userAccount.user}} 👋 </h4>
        </div>
        <div>
          <h2 style="margin-bottom: 40px;">Aktivitas apa yang ingin Anda lakukan?</h2>
        </div>
      </div>
    </div>
    <div class="d-flex gap align-items-center justify-content-center">
      <a routerLink="/shloverview">
        <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
          <div>
            <img src="assets/image/Illustration_4.svg" alt="" class="text-center">
          </div>
          <div class="fw-medium" style="font-size: 18px;">
            <p class="text-dark">Shareholder Loan</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
          <div>
            <img src="assets/image/Illustration_3.svg" alt="" class="text-center">
          </div>
          <div class="fw-medium text" style="font-size: 18px;">
            <p class="text-dark">Financial Debt Convenant Ratio</p>
          </div>
        </div>
      </a>
      <a routerLink="/overview_harian">
        <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
          <div>
            <img src="assets/image/Illustration_2.svg" alt="" class="text-center">
          </div>
          <div class="fw-medium" style="font-size: 18px;">
            <p class="text-dark">Riset Pasar</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="bg-white rounded d-flex flex-container flex-column align-items-center justify-content-evenly px-3 text-center" style="width: 180px; height: 220px;">
          <div>
            <img src="assets/image/Illustration_1.svg" alt="" class="text-center">
          </div>
          <div class="fw-medium" style="font-size: 18px;">
            <p class="text-dark">Administrasi Pinjaman</p>
          </div>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <div class="text-content">
        <p style="font-size: 13px;">Ada masalah? <a href="#">Hubungi PLN Icon+</a> untuk ditindak lanjuti.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center text-version ">
      <div class="version">
        <p>Simloan Versi 3.0</p>
      </div>
    </div>
  </div>
  </main>
  <app-footer></app-footer>
</div>


