<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div id="header" class="header">
    <div class="col-12 bg-white sub-nav border-top">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-2">
          <h4>Loan Monitoring</h4>
        </div>

        <button
          type="button"
          class="btn btn-primary me-4"
          style="font-size: 14px"
          [routerLink]="['/shl_monitoring']"
          routerLinkActive="active"
        >
          <i class="bi bi-plus-lg me-1"></i>Input Pembayaran
        </button>
      </div>
    </div>
  </div>

  <main class="main" id="main">
    <div>tes {{dataDetailLoan.id}}</div>
  </main>
</div>
